
* {box-sizing: border-box
    
}

body {
    margin: 0%;
    padding: 0%;
    background-color: black;
    font-family:'Bebas Neue', sans-serif;
    margin: 10px;
}
header{
   display: flex;
   justify-content: space-between;
   align-items: center;
   padding: 10px;
}

ul, ol {
    list-style: none;
    padding: 0px;
    margin-right: 10px;
    
}

a{
    text-decoration:none;
    color: rgb(255, 255, 255);
}


.imagenes img{
    height: 120px;
}

.barrainicio{
   display: flex;
   flex-direction: row;
   justify-content: space-evenly;
}

.barrainicio li{
    margin-left: 50px;
}

.contenedor_barra{
    display: flex;
    margin: 0%;
    padding: 0%;
    list-style: none;
    
}

.buscador{
    display:flex;
    align-items: center;
}

.imagenes_buscador{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    display: inline;
    
}

article img{
    height: 260px;
}

h1, h2, p, h3 {
    color: aliceblue;
}

.fotogrande {
    display: flex;
}

.imagenes_sola img{
    width: 350px;
    height: auto;
}



.infoseriegrande{
    text-align: left;
    margin-left: 2%;
}

.pelispopulares{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    display: inline;
}

.populares{
    margin: 10px;
    display: inline-block;
}

.titulos{
    display: flex;
    flex-wrap: wrap;
}

.infopeli{
    text-align: center;
}


.valoradas{
    margin: 10px;
    display: inline-block;
}


.seriesv{
    margin: 10px;
    display: inline-block;
}

.imagen_footer{
    display: none;
}

footer{
    margin-top: 100px;
}

@media (max-width:420px){
 /*  PELICULAS_DETALLES    */
    .barrainicio{
       flex-direction: column;
       margin-right: 200px;
    }

    .imagenes_sola img{
        width: 150px;
        height: auto;
        margin-left: 2%;
    }

    .fotogrande {
        display: flex;
    }

    .infoseriegrande{
        text-align:justify;
        margin-left: 2%;
        
    }

    .buscador{
        display: none;
    }

    .contenedor_barra{
        display: flex;
        margin-right: 20px;
        padding: 0%;
        list-style: none;
        order:1;
        

    }

    .imagenes_1 img {
        height: 80px;
        order: 2;
    }

    

    .imagen_footer {
        height: 80px;
        max-width: 100vw;
        max-height: 90vw;
        display: block ;
       
    }

    footer{
       max-width: 100vw;
    }

    




}