
* {box-sizing: border-box
    
}

body {
    margin: 0%;
    padding: 0%;
    background-color: black;
}

header{
   display: flex;
   justify-content: space-between;
   align-items: center;
   padding: 10px;
}

ul, ol {
    list-style: none;
    padding: 0px;
    margin-right: 10px;
    
}
a{
    text-decoration:none;
    color: rgb(255, 255, 255);
}


.imagenes img{
    height: 50px;
}

.barrainicio{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-right: 10%;
}

.contenedor_barra{
    display: flex;
    margin: 0%;
    padding: 0%;
    list-style: none;
}

.buscador{
    display:flex;
    align-items: center;
}

